
/* Start Standard Global Rules */

/* A- Start Global Variables */
:root {
    --bgc-main: #F1F5F9;
    --bgc-header: #FFFFFF;
    --bgc-input: #EEEEEE;
    --bgc-selection: #FAF7F7;
    --bgc-section: #F6F6F6;
    --bgc-btns: #0D69D5;
    --horizontal-padding: 1rem;
    --vertical-padding: 4.375rem;
}

/* B- Reset All Elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

/* C- Body Element */
body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    /* Customize body */
    display: grid;
    grid-template-columns: auto 1fr;
}

/* D- Standard Container */
.container {
    width: 100%;
    max-width: 1320px;
    padding-inline: 1rem;
    padding-bottom: 20px;
}

/* E- Standard Media Queries */
/* F- Standard Font Sizes */

/* End Standard Global Rules */



/* Start Main Header <header> */

.main-header {
    width: 100%;
    background-color: #FFF;
    border: 1px solid var(--bgc-section);
    box-shadow: 2px 2px 4px 2px var(--bgc-section);
    z-index: 1;
}

.main-header nav {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.main-header nav span {
    font-size: clamp(1.125rem, 1.50vw, 1.25rem);
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    position: relative;
    align-self: center;
    margin: 25px;
}

.main-header nav span::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    outline: 4px solid #fff;
    position: absolute;
    bottom: -16px;
    left: calc((90px - 10px) * 0.25);
    z-index: 1;
}

.main-header nav span::after {
    content: '';
    width: 90px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -12px;
    left: calc(-90px * 0.25);
}

.main-header nav ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding-inline: 15px;
}

.main-header nav ul li {
    width: 100%
}

.main-header nav ul li a {
    text-transform: capitalize;
    font-size: clamp(0.875rem, 1.25vw, 1rem);
    padding-inline: 35px;
    padding-block: 10px;
    position: relative;
    display: block;
    outline: none;
    border: none;
}

.main-header nav ul li.active a {
    background-color: var(--bgc-section);
    border-radius: 6px;
}

.main-header nav ul li a:hover {
    cursor: pointer;
    background-color: var(--bgc-section);
    border-radius: 6px;
}

.main-header nav ul li:first-of-type a::before {
    content: '\f080';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}


.main-header nav ul li:nth-of-type(2) a::before {
    content: '\f013';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:nth-of-type(3) a::before {
    content: '\f007';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:nth-of-type(4) a::before {
    content: '\f542';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:nth-of-type(5) a::before {
    content: '\f19d';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:nth-of-type(6) a::before {
    content: '\f2bd';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:nth-of-type(7) a::before {
    content: '\f15b';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
}

.main-header nav ul li:last-of-type a::before {
    content: '\f09d';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 10px;
} 

@media (min-width: 768px) {
    .main-header {
        min-width: 175px;
    }
}

@media (max-width: 767px) {
    .main-header {
        width: 65px;
    }

    .main-header nav span::before, 
    .main-header nav span::after {
        display: none;
    }
    .main-header nav ul {
        align-items: center;
    }

    .main-header nav ul li a {
        color: transparent;
        padding: 10px;
    }

    .main-header nav span {
        margin-bottom: 0;
    }
}

@media (min-height: 482px){
    .main-header {
        position: relative;
    }
    .main-header nav {
        position: sticky;
        top: 0px;
    }
}
/* End Main Header  <header> */



/* Start Main Element <main> */
main {
    background-color: var(--bgc-main);
    position: relative;
}


/* Start sub header inside main */
main .sub-header {
    max-height: 85px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border: 1px solid var(--bgc-section);
    box-shadow: 2px 2px 4px 2px var(--bgc-section);
}


main .sub-header .left {
    flex-basis: 80%;
    position: relative;
}

main .sub-header .left::after {
    content: '\f002';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 17px;
    color: #CDCDCD;
    position: absolute;
    top: 10px;
    left: 8px;
}

main .sub-header .left input {
    width: 165px;
    border: 2px solid #CDCDCD;
    font-size: clamp(0.875rem, 1.25vw, 0.875rem);
    border-radius: 6px;
    outline: none;
    padding: 10px 0 10px 30px;
    transition: width 0.6s ease-in-out 0s;
}

main .sub-header .left input:focus  {
    width: 190px;
}

main .sub-header .left input:focus::placeholder{
    visibility: hidden;
}

main .sub-header .right {
    flex-basis: 10%;
    padding-top: 5px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .sub-header .right::before {
    content: '\f0f3';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 25px;
    color: #0D69D5;
    position: absolute;
    top: 15px;
    right: 55px;
}

main .sub-header .right::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F44336;
    position: absolute;
    top: 15px;
    right: 48px;
}

main .sub-header .right img {
    aspect-ratio: 4/4;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
}

/* End sub header inside main */


/* start container inside main */

/* Start h1 */
main h1 {
    width: fit-content;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-transform: capitalize;
    position: relative;
    padding: 0;
}

main h1::after { 
    content: '';
    width: 75%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 5px;
    background-image: linear-gradient(to right, #000 0%, #000 40%, #fff 40%, #fff);
}
/* End h1 */


/* Start Sections  */
main .sections {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

/* Start Files Section */
main .sections .files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
}

main .sections .files article {
    background-color: #fff;
    border-radius: 6px;
    min-height: 200px;
}


main .sections .files article {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 5px;
}

main .sections .files article * {
    width: 100%;
}
main .sections .files article figure {
    flex-basis: 85%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 8px;
    border-bottom: 2px solid #EEE;
    position: relative;
}

main .sections .files article figure::before {
    content: '\f019';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
}

main .sections .files article figure img {
    aspect-ratio: 4 / 4;
    width: 60px;
    object-fit: contain;
    align-self: center;
    transition: transform 0.4s ease-in-out 0s;
}


main .sections .files article figure img:hover {
    transform-origin: top left;
    transform: rotate(8deg);
} 

main .sections .files article figure figcaption {
    font-size: clamp(0.875rem, 1.50vw, 1rem);
    text-align: center;
}

main .sections .files article figure span {
    font-size: clamp(0.875rem, 1.50vw, 1rem);
    align-self: flex-start;
    color: #777;
}


main .sections .files article footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}

main .sections .files article footer time {
    font-size: clamp(0.875rem, 1.50vw, 1rem);
    color: #777;
}
main .sections .files article footer span {
    font-size: clamp(0.875rem, 1.50vw, 1rem);
    color: #777;
    text-align: right;
}
/* End Files Section */


/* Start Statistics Section */
main .sections .stats {
    max-height: 420px;
    min-width: 280px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    border-radius: 6px;
}

main .sections .stats .row-1, .row-2, .row-3, .row-4 {
    width: 100%;
    height: 100%;
    min-height: 65px;
    border: 2px solid #EEE;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
    padding-left: 70px;
    padding-right: 10px;
}

main .sections .stats .row-1::before, .row-2::before, .row-3::before, .row-4::before  { 
    content: '';
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

main .sections .stats .row-1::before { 
    content: '\f1c1';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    background-color: #CCE3FF;
    color: #0088FF;
}

main .sections .stats .row-2::before { 
    content: '\f302';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    background-color: #D3F3DF;
    color: #22C55E;
}

main .sections .stats .row-3::before { 
    content: '\f1c2';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900; 
    background-color: #FDD9D7;
    color: #F44D40;
}

main .sections .stats .row-4::before { 
    content: '\f6dd';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900; 
    background-color: #FDECCE;
    color: #F59E0B;
}

main .sections .stats .row-1 .details, .row-2 .details, .row-3 .details, .row-4 .details {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}

main .sections .stats .row-1 .details span:last-of-type, .row-2 .details span:last-of-type, .row-3 .details span:last-of-type, .row-4 .details span:last-of-type {
    align-self: flex-start;
}
main .sections .stats .row-1 span, .row-2 span, .row-3 span, .row-4 span {
    align-self: center;
    color: #888;
}

main .sections .stats a {
    align-self: center;
    display: inline-block;
    margin-block: 8px 10px;
    padding: 12px 12px 12px 40px;
    border-radius: 8px;
    font-size: clamp(0.875rem, 1.50vw, 1rem);
    color: #FFF;
    text-transform: capitalize;
    background-color: #0075FF;
    position: relative;
    
}

main .sections .stats a::before {
    content: '\f102';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

main .sections .stats a:hover {
    background-color: #0D69D5;
}

main .sections .stats a:hover::before {
    transform-origin: top;
    animation: move-top 0.4s ease-in-out 0s infinite alternate-reverse both;
}

@media (max-width: 768px) {
    main .sections {
        display: flex;
        flex-flow: column-reverse;
    }
    main .sections .files {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 1fr;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    main .sections .files {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* End Setions */

/* Start Animation */
/* Statistics Section */
@keyframes move-top {
    100% {
        transform: translateY(-15px);
    }
}
/* End Animation */